/* core */
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.to-uppercase {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}
/* main header */

.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation__item {
    display: inline-block;
    padding: 10px;
}

.main-navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.main-navigation__item a:hover {
    color: #efb6df;
}

.main-navigation__item.active a {
    color: #efb6df;
}

/* main section */
.main-section {
    padding: 100px 30px;
}

.main-section > div {
    width: 50%;
    float: left;
}

.main-section__image {
    text-align: right;
}

.main-section__welcome {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364E;
}

.main-section__position {
    color: #05364E;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main-section__social-networks a {
    color: #8FA1AA;
    font-size: 20px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
}

.main-section__social-networks a:hover i {
    color: #1C44E4;
}

.main-section__action {
    margin-top: 20px;
    border: none;
    background-color: #1C44E4;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}

/* Statistics */

.statistics {
    padding-top: 100px;
}

.statistics__item {
    display: inline-block;
    width: 150px;
    background-color: #F8FAFF;
    text-align: center;
    padding: 5px 10px;
    margin-right: 20px;
}

.statistics__number {
    font-size: 27px;
    margin-bottom: 5px;
    color: #1C44E4;
}

.statistics__title {
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}